nav{
  display: grid;
  column-gap: minmax(5px, 20px);
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  background-color: gray;
}

nav a{
  color: #f6f4e6;
  border:solid;
  border-color: rgba(0, 0, 0, 0.37);
  border-width: 1px; 
  text-decoration: none;
  font-size: 1.2em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
}

.card-container {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 100%;
  background-color: pink;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  column-gap: 10px;
  justify-content: center;
  row-gap: 20px;
}

.card{
  padding: 10px;
  width: 450px;
  height: 240px;
  border: solid;
  border-radius: 10px;
  background-color: rgb(255, 145, 0);
}

.card-name{
  font-size: x-large;
  font-weight: 700;
}

.name-container{
  text-align: center
}

.card-text{
  font-size: large;
  font-weight: 600;
}

.card:hover{
  background-color: #b5277f;
}

.text-otstup{
  margin-top: 15px;
}

a{
  all:unset;
}
