*{
  box-sizing: border-box;
}

nav{
  display: grid;
  column-gap: minmax(5px, 20px);
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  background-color: gray;
}

nav a{
  color: #f6f4e6;
  border:solid;
  border-color: rgba(0, 0, 0, 0.37);
  border-width: 1px; 
  text-decoration: none;
  font-size: 1.2em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
}

.card-container {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 100%;
  background-color: pink;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(470px, 1fr));
  column-gap: 10px;
  justify-content: center;
  row-gap: 20px;
}

.card{
  padding: 10px;
  width: 450px;
  height: 240px;
  border: solid;
  border-radius: 10px;
}

.card-name{
  font-size: x-large;
  font-weight: 700;
}

.name-container{
  margin-bottom: 30px;
  text-align: center
}

.card-text{
  font-size: large;
  font-weight: 600;
}

.card:hover{
  background-color: inherit;

}

a{
  all:unset;
}

.button{
  float: right;
  border: none;
  font-size: x-large;
  background-color: inherit;
}

.button:hover{
  cursor: pointer;

}

.applied{
  background-color: rgb(255, 0, 0);
}

.applied:hover{
  border: red solid 3px;
}

.wont-apply{
  background-color: rgb(172, 49, 141);
}

.wont-apply:hover{
  border: rgb(172, 49, 141) solid 3px;
}

.to-apply{
  background-color: rgb(12, 247, 0);
}

.to-apply:hover{
  border: rgb(12, 247, 0) solid 3px;
}

.add{
  font-size: xx-large;
  text-align: center;
  border:solid rgba(0, 0, 0, 0.37);
  width: 40px;
  height: 40px;
  line-height: 1;
  border-radius: 100px;
  background-color: inherit;
}

.add-card{
  display: flex;
  justify-content: center;
  align-items: center;
}

.add:hover{
  cursor: pointer;
}

.card input{
  background-color: inherit;
  font: inherit;
  border: none;
}

.card input:focus-visible{
  outline: none;
}

.save-button{
  float: right;
  margin-top: 5px;
  border-radius: 30px;
  background-color: green;
  padding: 10px 30px;
}

.save-button:hover{
  cursor: pointer;
  border: solid green;
  background-color: inherit;
  color: black;
  text-decoration: none;
}

.go-button{
  float: right;
  margin-top: 30px;
  border-radius: 30px;
  background-color: white;
  padding: 10px 30px;
}

.go-button:hover{
  cursor: pointer;
  border: solid inherit;
  background-color: inherit;
  color: black;
  text-decoration: none;
}

.card:hover .applied-button{
  background-color: rgb(255, 0, 0);
}

.card:hover .wont-apply-button{
  background-color: rgb(172, 49, 141);
}

.card:hover .to-apply-button{
  background-color: rgb(12, 247, 0);
}
